#landing {
  width: 100%;
  height: 650px;
  background-image: url("../images/f2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  position: relative; }
  #landing .container {
    position: absolute;
    bottom: 0px;
    display: block;
    width: 100%; }
    #landing .container h2 {
      color: rgba(226, 255, 0, 0.5); }

@media (max-width: 768px) {
  #landing {
    height: 50vh; }
    #landing h2 {
      font-size: 15px; } }
body {
  font-family: 'Open Sans' , sans-serif; }

header nav.navbar {
  margin-bottom: 0;
  background-color: rgba(51, 51, 51, 0.47);
  border-width: 0 0 1px 0;
  border-color: transparent; }
  header nav.navbar a.navbar-brand {
    color: rgba(236, 43, 95, 0.99);
    text-decoration: none;
    font-weight: bold;
    font-size: 2em; }
  header nav.navbar.navbar-default .navbar-nav > li > a, header nav.navbar.navbar-default .navbar-nav > li > a:hover, header nav.navbar.navbar-default .navbar-nav > li > a:visited, header nav.navbar.navbar-default .navbar-nav > li > a:link {
    color: #FFF; }
  header nav.navbar.navbar-default .navbar-nav > li > a:hover {
    border-bottom: 3px solid #FFF; }
header .navbar-right {
  float: right !important;
  margin-right: 5px; }

#about {
  background-color: #a9ff00;
  color: #FFF;
  padding-top: 60px; }
  #about .allAbout {
    color: black;
    text-align: left;
    padding: 12px; }
  #about .abc {
    background-color: #FFF;
    height: 266px;
    text-align: center; }
  #about .img1 {
    height: 266px;
    width: 585px; }
  #about .img1:hover {
    opacity: 0.7; }
  #about h5 {
    text-align: center;
    text-transform: uppercase;
    color: #DF1414;
    font-weight: bold; }
  #about h2 {
    text-align: center;
    text-transform: uppercase;
    color: #3CDF14;
    font-weight: bold; }
  #about i {
    font-size: 3em; }
  #about .btn-outline {
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
    color: #22af74;
    border: 2px solid; }
  #about .btn-outline:hover {
    background-color: #000000;
    transition: all ease 0.9s; }
  #about .btn-default {
    color: #FFF;
    background-color: transparent;
    border-color: transparent;
    text-decoration: none; }
  #about .btn-default:hover {
    background-color: #4CAF50;
    transition: all ease 0.6s; }
  #about .right {
    font-size: 1em;
    padding: 1em; }
  #about .fitness {
    background-color: #FFF;
    color: #261D1D; }

#how_works {
  background-color: #ff7600;
  color: #FFF; }
  #how_works .img1 {
    height: 300px;
    width: 585px; }
  #how_works .img1:hover {
    opacity: 0.7; }
  #how_works .abc {
    background-color: #FFF;
    height: 266px;
    text-align: center; }
  #how_works .abc1 {
    background-color: #4CAF50;
    height: 266px;
    text-align: center; }
  #how_works h5 {
    text-transform: uppercase;
    color: #DF2F14;
    font-weight: bold; }
  #how_works .lifestyle {
    color: #4CAF50;
    font-weight: bold; }
  #how_works .p1 {
    color: #8BC34A;
    padding-top: 35px; }
  #how_works .summer {
    font-weight: bold;
    color: #CDDC39;
    text-transform: uppercase; }
  #how_works .p2 {
    color: #FFFFFF;
    padding-top: 35px; }

#services {
  height: 140vh;
  background-image: url("../images/fitness3.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  #services .lanuch {
    margin: 0 auto;
    padding-top: 35%;
    display: block;
    text-align: center;
    color: #FFF; }
  #services p {
    text-align: center;
    color: #FFF; }

@media (max-width: 768px) {
  #services {
    height: 50vh; } }
#contect {
  background-color: #000000;
  color: #f0f8ff; }
  #contect .padding25 {
    padding-top: 25px;
    padding-bottom: 25px; }
  #contect .overlay {
    background-color: rgba(193, 133, 71, 0.7);
    padding: 0vh 0 3vh; }
  #contect p {
    font-size: small; }
  #contect .social-icon {
    font-size: 34px; }
  #contect .newsletter-btn {
    background-color: #3c763d;
    padding: 7px;
    border-radius: 7px; }
  #contect input {
    padding: 7px;
    border-radius: 7px; }

footer {
  border-top: 2px solid rgba(0, 0, 0, 0.78); }
  footer p {
    padding-top: 25px;
    text-align: center;
    color: white;
    background-color: black; }

/*# sourceMappingURL=app.css.map */
