#contect{
	background-color: #000000;
	color: #f0f8ff;
	padding: 0;

	.overlay{
		background-color: rgba(193, 133, 71, 0.7);
		padding: 0vh 0 3vh;
	}

	.row{
		/*padding-top: 60px;*/
		margin-right: 0px;
    	margin-left: 0px;
	}

	p{
		font-size: small;
	}

	.social-icon{
		font-size: 34px;
	}
	
	.newsletter-btn{
		background-color: #3c763d;
    	padding: 7px;
    	border-radius: 7px;
	}
	input{
		padding: 7px;
    	border-radius: 7px;
	}

}
footer{
	p{
	margin: 0 0 10px;
    text-align: center;
    color: white;
    background-color: black;
}
}