#contect{
	background-color: #000000;
	color: #f0f8ff;
	
	.padding25{
		padding-top: 25px;
		padding-bottom: 25px;
	}
	.overlay{
		background-color: rgba(193, 133, 71, 0.7);
		padding: 0vh 0 3vh;
	}

	

	p{
		font-size: small;
	}

	.social-icon{
		font-size: 34px;
	}
	
	.newsletter-btn{
		background-color: #3c763d;
    	padding: 7px;
    	border-radius: 7px;
	}
	input{
		padding: 7px;
    	border-radius: 7px;
	}

}
footer{
	border-top: 2px solid rgba(0, 0, 0, 0.78);
	p{
	
	padding-top: 25px;
    text-align: center;
    color: white;
    background-color: black;
}
}