#how_works{
		
    	background-color: #ff7600;
    	color: #FFF;

    	
		.img1{
    		height: 300px;
    		width: 585px;
    	}

    	.img1:hover{
    		opacity: 0.7;
    	}

    	.abc{
    		background-color: #FFF;
    		height: 266px;
    		text-align: center;

    		
    	}
    	.abc1{
    		background-color: #4CAF50;
    		height: 266px;
    		text-align: center;
    	}

    	h5{
			text-transform: uppercase;
			color: #DF2F14;
			font-weight: bold;
		}
		.lifestyle{
			color: #4CAF50;
		    font-weight: bold;
		    
		}	
		.p1{
			color: #8BC34A;
   			 padding-top: 35px;
		}

		.summer{
			
			font-weight: bold;
			color: #CDDC39;
			text-transform: uppercase;
		}	

		.p2{
			color: #FFFFFF;
   			 padding-top: 35px;
		}	
}