#services {
	height: 140vh;
	background-image: url('../images/fitness3.jpg');
	background-repeat: no-repeat;
	background-size: cover;


	.lanuch{
		margin: 0 auto;
	    padding-top: 35%;
	    display: block;
	    text-align: center;
		color: #FFF;
	}

	p{
		text-align: center;
		color: #FFF;
	}

}

@media (max-width:768px) {
	 #services {
 	height : 50vh;
	}
	}